appdirs==1.4.3
arrow==0.15.2
attrs==19.3.0
binaryornot==0.4.4
certifi==2019.9.11
chardet==3.0.4
Click==7.0
ConfigArgParse==0.15.1
cookiecutter==1.6.0
datrie==0.8
docutils==0.15.2
future==0.18.1
gitdb2==2.0.6
GitPython==3.0.4
idna==2.8
importlib-metadata==0.23
Jinja2==2.10.3
jinja2-time==0.2.0
jsonschema==3.1.1
MarkupSafe==1.1.1
more-itertools==7.2.0
pbr==5.4.3
poyo==0.5.0
psutil==5.6.3
pyrsistent==0.15.4
python-dateutil==2.8.0
PyYAML==5.1.2
ratelimiter==1.2.0.post0
requests==2.22.0
six==1.12.0
smmap2==2.0.5
snakemake==5.7.1
stevedore==1.31.0
urllib3==1.25.6
virtualenv==16.7.7
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
whichcraft==0.6.1
wrapt==1.11.2
zipp==0.6.0
